* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    background-color: white;
    background-size: 100vh 100vw;
    font-family: 'Libre Baskerville', serif;
    height: 100vh;
}

/* Si a tela do dispositivo tiver pelo menos 400px vai carregar os seguintes estilos */
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

header {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
}

.menu {
    background-color: whitesmoke;
    font-family: 'Anton', sans-serif;
    position: fixed;
    width: 100vw;
    top: 0;
}

.menu a {
  display: block;
  padding: 5px 20px;
  font-size: 23px;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

a {
  text-decoration: none;
  color: teal;
  font-size: 23px
}

a:hover {
  text-decoration: underline;
} 

.site-subtitle,
.site-title {
  color: black;
  text-align: center;
}

.site-title {
  font-size: 4em;
}
.site-subtitle {
  font-style: italic;
  font-size: 2em;
}

.site-parrafo {
  font-style: italic;
  font-size: 12px;
  font-family: Arial;
}

.img-portfolio {
  height: 100;
  width: 180px;
  display: flex;
  justify-content: space-around;
}