/* soft reset do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
font-family: 'Indie Flower', cursive;
font-family: 'Merienda', cursive;
font-family: 'Satisfy', cursive;
font-family: 'Source Code Pro', monospace;
*/

body {
  /*background-image: url("../img/puntos.jpg");*/
  background-color: whitesmoke;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  font-size: 14px;
  font-family: 'Source Code Pro', monospace;
}

@media (min-width: 600px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 1441px) {
  body {
    font-size: 18px;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: white;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  display: block;
  /* background-color: aqua; */
  padding: 10px;
  transition: color 500ms;
}

.menu a:hover {
  color:blue;
  text-decoration: none;
}

a {
  color: teal;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.site-subtitle,
.site-title {
  color:#302929;
  text-align: center;
}

.site-title {
  font-family: 'Poppins', cursive;
  font-size: 4em;
  font-style: italic;
}

.site-title img {
  animation: ease-out 3s animacaoImagem forwards;
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid;
}

.site-parrafo {
  font-style: italic;
  font-size: 1em;
  font-family: Arial;
  color: #302929;
  margin-bottom: 1.4em;
  text-align: center;
}

@keyframes animacaoImagem {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
 
.site-subtitle {
  /* font-style: italic; */
  font-family: 'Indie Flower', cursive;
  font-size: 3em;

}

.contato,
.portfolio {
  padding: 2em;
  min-height: 100vh;
}

.contato h2,
.portfolio h2 {
  font-family: 'Indie Flower', cursive;
  color: #302929;
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.portfolio .grid {
  /* background-color: thistle; */
  display: grid;
  gap: 1em;
  align-content: center;
  justify-content: center;
  font-size: 1.8em;
}

@media (min-width: 560px) {
  .portfolio .grid {
    grid-template-columns: 240px 240px;
  }
}

@media (min-width: 880px) {
  .portfolio .grid {
    grid-template-columns: 240px 240px 240px;
  }
}

.portfolio figure {
  text-align: center;
  color: #302929;
}

.portfolio figure:hover {
  transform: scale(1.1);
  transition: 500ms cubic-bezier(1,.07,.61,2.82);
}

.img-portfolio {
  width: 180px;
  height: 100px;
  object-fit: cover;
  border-radius: 10%;
}

.contato .icons {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

.contato a {
  color: gray;
  font-size: 4em;
  transition: text-shadow 500ms;
  margin: 10px;
}

.contato a:active,
.contato a:hover {
  text-decoration: none;
  text-shadow: 0px 0px 15px orange;
}
