/* soft reset do css */
main {
    position: fixed;
    background-color: whitesmoke;
    width: 20%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    text-decoration: none;
}
.image img{
    width: 180px;
    height: 200px;
    object-fit: cover;
    border-radius: 35%;
    border: 2px solid;
    margin-top: 50px;
}

li {
    margin-block-end: 25px;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
    list-style: none;
    display: block;
    color: teal;
    padding: 10px;
    transition: color 500ms;
}
li a{
    text-decoration: none;
}
li a:hover {
    color:blue;
    text-decoration: none;
}

.contato .icons {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    margin-block-end: 25px;
    font-size: 25px;
    color: whitesmoke;
    transition: text-shadow 500ms;
    margin: 10px;
}

.contato a:active,
.contato a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 15px orange;
}