body{
  margin-left: 25%;
}

@media (max-width: 600px) {
  .site-title {
      font-size: 14px;
  }
  .site-subtitle{
    font-size: 12px;
  }
  .site-parrafo{
    font-size:10px;
  }
}

.site-title{
  color: #041D65;
  text-align: center;
}

.site-subtitle{
  margin-top:10px;
  color: black;
  text-align: center;
  margin-block-end: 35px;
}

.site-parrafo{
  margin-top: 5px;
  color: black;
  font-family: sans-serif;
  font-weight: lighter;
}
.site-title img{
  width: 200px;
  height: 190px;
  object-fit: cover;
  border-radius: 35%;
  border: 5px solid;
}
