{% extends 'base.html' %}

{% block title %}
    {{ super() }}
    PYWHATSBI
{% endblock %}

{% block content %}
<h1>Python - WhatsApp - Power BI</h1>
<p>
    Power BI es la herramienta de Business Inteligence (BI) que incorpora la suite de productividad Office 365 de Microsoft. Esta herramienta permite cruzar y analizar bases de datos y presentar toda la información en un único cuadro de mando que faciliten la toma de decisiones.
</p>
<p>
    Para mi es un proyecto que trabajo en los tiempos libres principalmente para aplicar y probar nuevos conocimientos o nuevas funcionalidades novedosas que lanza el equipo de Microsoft Power BI.
</p>

{% endblock %}