{% extends 'base.html' %}

{% block title %}
    {{ super() }}
    Historia
{% endblock %}

{% block content %}
<img class='image_title' src="{{ url_for('static', filename='img/datos.png') }}" alt="foto datos">
<h1>Mi historia con los datos</h1>
<p>
    Algunos años atrás empezaba en el mundo de los datos con un poco más de profundidad. Lleno de incertidumbre pero con muchas ganas de aprender, inicié mi recorrido con la herramienta de Microsoft Power BI, me parecía maravilloso lo que se podía hacer con los datos y luego mostrar los resultados de una manera resumida, fácil de entender y todo con gráficos dinámicos. Recuerdo que hacía muchos procesos y análisis de manera manual, consumiendo mucho tiempo de mi cargada actividad de trabajo. En ese entonces trabajaba en el área de riesgos de la compañía, sin saber ya estaba un poco metido en el mundo de los datos, eso porque analizaba muchas informaciones sobre clientes como sus libros contables financieros entre otros.
</p>
<p>
    El líder del área era una persona que incentivaba mucho a sus colaboradores en estudio e innovación para el crecimiento personal y profesional. Fue con él que nació el interés por la ciencia de los datos, los análisis, automatizaciones de procesos, los datos como centro de trabajo. Eternamente agradecido!
</p>
<h2> ¿Dificultad al iniciar? </h2>
<p>
    Aprender de una manera ordenada con un programa de estudio estructurado y con personas que estén disponibles para el darte el soporte necesario es lo ideal, sin embargo es muy costoso, y por eso empecé consumiendo contenido de Internet que me pudiese enseñar como utilizar la tecnología de Power BI, as veces confundido e incluso perdido por la variedad de información disponible, empecé siguiendo a 2 grandes canales de aprendizaje en youtube (Karine Lago y Laennder Alves) y a la par tratando de implementar algunas automatizaciones en procesos de análisis y presentaciones de informes, que debo confesar eran bastante malas en la parte visual. Pero lo bueno es que con la practica obtienes mayor conocimiento y experiencia para ir mejorando los resultados.
</p>
<h2> Reconocimiento por el trabajo </h2>
<p>
    Después de algunos meses teniendo la posibilidad de trabajar cada vez más sobre los datos con Power BI y continuar con los estudios, el resultado de los informes fue mejorando bastante a punto de compartir el informe a todo el nivel de gerencia y en poco tiempo obtuve un reconocimiento por el trabajo de innovación desarrollado en la empresa.
</p>
<p>
    Fue muy bueno recibir el reconocimiento, afirmó que estaba aprendiendo bien y renovó mis ánimos para seguir buscando conocimiento sobre la herramienta y como mejorar cada vez los análisis y visualizaciones.
</p>
<h2> Curiosidad por nuevas herramientas… ALURA!!! </h2>
<p>
    Ya empezaba a tener un conocimiento bastante grande en la herramienta y era la persona referencia en la empresa para dichos trabajos. Luego empecé a escuchar bastante sobre Inteligencia Artificial y Machine Learning, generando curiosidad sobre qué era y como podía aprender. En un principio pensé en buscar información y tratar de aprender de la misma manera que Power BI, sin embargo, me encuentro con nuevamente una cantidad inmensa y variada de información que generó muchas dudas. Encontré en Youtube un canal llamado “Curso em video”, que tenía un curso extenso y bien estructurado sobre el lenguaje python, lo hice y poco tiempo después me inscribí en una plataforma de enseñanza online llamada “ALURA”, donde hice varios cursos rápidos que estaban bien estructurados, aprendiendo a construir un sistema de guardar películas ( con lenguaje python, html, css, mysql), que luego lo transforme para mi sistema de contabilidad personal.
</p>
<h2> Continuar aprendiendo y evolucionando.. </h2>
<p>
    Bueno, después de algunos meses pasé a la área de Business Intelligence de la compañía y inicié uno de los cursos online más bien preparados que hice, Data Science en Acámica. Me costó mucho al inicio lidiar con estadística, programación, algebra, algoritmos y una variedad de bibliotecas para los modelos de machine learning, y encima todo al mismo tiempo. Pero vaya que valió el esfuerzo, he aprendido y evolucionado mucho, pero también sigo aprendiendo bastante, en el momento estoy por finalizar el curso, con todos los proyectos resueltos y entregados, a parte de trabajar en equipo en 2 desafíos que estaré compartiendo más adelante..
</p>

{% endblock %}
