<!DOCTYPE html>
<html lang="en">
    <body>
      <header>


      </header>
      <section id="portfolio" class="portfolio">
        <h2>Proyectos</h2>
        <div class="grid">
          <figure>
            <a href="https://app.powerbi.com/view?r=eyJrIjoiZTFmZjA2ZjEtZTU3Zi00OGRmLWJjODUtMjAzNjI3MzJjZTY5IiwidCI6Ijc1NzYzNzY2LTdmZjItNGYyMy1hNGJhLTAyNjFlZGIzMjdlNiJ9"><img class="img-portfolio" src="{{ url_for('static', filename='img/powerbi.png') }}" alt="Power BI (Ventas)"></a>
            <figcaption>Power BI (Ventas)</figcaption>
          </figure>
          <figure>
            <a href="#"><img class="img-portfolio" src="{{ url_for('static', filename='img/powerautomate.png') }}" alt="Power automate"></a>
            <figcaption>Power Automate</figcaption>
          </figure>
          <figure>
            <a href="#"><img class="img-portfolio" src="{{ url_for('static', filename='img/datascience.png') }}" alt="Data Science"></a>
            <figcaption>Data Science</figcaption>
          </figure>
          <figure>
            <a href="#"><img class="img-portfolio" src="{{ url_for('static', filename='img/pywhats.jpg') }}" alt="Python / WhatSapp"></a>
            <figcaption>Python / WhatSapp</figcaption>
          </figure>
          <figure>
            <a href="https://github.com/fkrausse/ML_para_Marketing"><img class="img-portfolio" src="{{ url_for('static', filename='img/ml_mkt.jpg') }}" alt="MachineLearning - Marketing"></a>
            <figcaption>MachineLearning - Marketing</figcaption>
          </figure>
        </div>
      </section>
      <section class="contato" id="contato">
        <h2>Contato</h2>
        <div class="grid icons">
          <a target="_blank" href="https://github.com/fkrausse">
            <i class="fab fa-github" aria-hidden="true"></i>
          </a>
          <a target="_blank" href="https://twitter.com/Fabian_adolfo">
            <i class="fab fa-twitter" aria-hidden="true"></i>
          </a>
          <a target="_blank" href="https://linkedin.com/in/fabian-krausse/">
            <i class="fab fa-linkedin" aria-hidden="true"></i>
          </a>
          <a target="_blank" href="https://instagram.com/fabian_krausse">
            <i class="fab fa-instagram" aria-hidden="true"></i>
          </a>
          <a target="_blank" href="mailto:fabi_adolfo@hotmail.com">
            <i class="far fa-envelope" aria-hidden="true"></i>
          </a>
        </div>
      </section>
    </body>
</html>
